<div class="row">   
    <h1>Add a new Inventory</h1>
    <div class="col-sm-5">
        <form method="post" action="/addItem" enctype="multipart/form-data">
            catagory: <input type="text" name="catagory"><br><br>
            name: <input  type="text" name="name" required><br><br>
            price: <input name="price"><br><br>
            size: <input type="text" name="size"><br><br>
            <label for="image">Upload Image</label><br><br>
            <input  type="file" id="image" name="image" value=""><br><br>
            inventory: <input  type="number" name="inventory"><br><br>
            details: <input  type="text" name="details"><br><br>
            ingredients: <input  type="text" name="ingredients"><br><br>
            warnings: <input  type="text" name="warnings"><br><br>
            directions: <input  type="text" name="directions"><br><br>
            <input type="submit">
        </form>
    </div>
</div>

<h1>Uploaded Images</h1>
    <div>
        <% items.forEach(function(image) { %>
        <div>
            <div>
                <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                <div>
                    <h5><%= image.name %></h5>
                      
  
  
<p><%= image.desc %></p>
  
  
  
                </div>
            </div>
        </div>
        <% }) %>
    </div>
